known_blood {
  name = "NashGore";
  match = ["NashGore*", "Nash_Gore*"];
  blockspawn = true; // this is actually the default
}

known_blood {
  name = "Ketchup/Brutal";
  match = "Brutal_Blood";
}

known_blood {
  name = "Bolognese";
  match = "Bolognese_Blood";
}

known_blood {
  name = "Ketchup/Brutal/Bolognese";
  match = "BloodSPlatterReplacer";
}

known_blood {
  name = "Sanity's Requiem";
  match = "IRBlood*";
}

known_blood {
  name = "D4V";
  match = "DH_Blood";
}


known_blood {
  name = "Samsara";
  match = "SamsaraBloodyHellBlood*";
}


known_blood {
  name = "Doom Tribute";
  match = "RedBlood_LM"; // standard blood replacement
  matchany = "Bloodpiece_*"; // block all blood pieces
  //matchany = ["Bloodpiece_*", "*Blood_LM"];
  // force-replace various colored blood
  replace "*Blood_LM" with "Blood";
}
