#include <windows.h>
#include "resource.h"

IDI_APPICON ICON "wadcheck.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "wadcheck.manifest"

VS_VERSION_INFO  VERSIONINFO
FILEVERSION      1,0,0,0
PRODUCTVERSION   1,0,0,0
FILEFLAGSMASK    VS_FFI_FILEFLAGSMASK
FILEFLAGS        0
FILEOS           VOS_NT_WINDOWS32
FILETYPE         VFT_APP
FILESUBTYPE      VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "08000480"
    BEGIN
      VALUE "CompanyName", "Invisible Vector"
      VALUE "FileDescription", "Win32 Test application"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "wadcheck"
      VALUE "LegalCopyright", "Coded by Ketmar // Invisible Vector"
      VALUE "OriginalFilename", "wadcheck.exe"
      VALUE "ProductName", "wadcheck with simple GUI"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
END


IDD_MAINWIN DIALOGEX  20, 40, 400, 300
/*STYLE DS_MODALFRAME | DS_3DLOOK | WS_OVERLAPPED | WS_CAPTION | WS_CLIPCHILDREN | WS_VISIBLE | WS_SYSMENU | WS_MINIMIZEBOX*/
STYLE DS_SETFONT | DS_3DLOOK | WS_OVERLAPPED | WS_CAPTION | WS_CLIPCHILDREN | WS_VISIBLE | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "WADCheck stupid GUI"
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_WINDOWEDGE
FONT 8, "MS Sans Serif"
BEGIN
  CONTROL "Database",     100, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 2, 9, 34, 8
  CONTROL "",             101, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 40, 8, 330, 12
  CONTROL "...",          102, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 376, 7, 20, 14
  CONTROL "WAD to check", 103, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 2, 29, 50, 8
  CONTROL "",             104, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 56, 28, 314, 12
  CONTROL "...",          105, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 376, 27, 20, 14
  CONTROL "&Go!",         106, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 44, 48, 40, 14
  CONTROL "&Save report...",  107, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 94, 48, 54, 14
  CONTROL "",             108, "EDIT", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_DISABLED | WS_VSCROLL, 2, 65, 398, 234
  CONTROL "&Register!",   109, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 256, 48, 40, 14
END
